<!DOCTYPE html>
<html>
  <head>
    <title>ProjVenus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

  </head>

  <body>
  <%= render 'layouts/navbar' %>
  <div class="container" style='padding: 50px'>
    <%= yield %>
  </div>
  </body>
  
</html>

